#### 1.Write a Python program to find out what version of Python you are using.

In [ ]:
import sys
print("python version")
print(sys.version)
print("version information")
print(sys.version_info)

python version
3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
version information
sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

#### 2.Write a Python program to display the current date and time.

In [ ]:
import datetime
now=datetime.datetime.now()
print("the exact time while printing this code is")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

the exact time while printing this code is
2024-01-08 03:43:49

#### 3.Write a Python program that calculates the area of a circle based on the radius entered by the user.

In [ ]:
from math import pi
print("to find the radius of the circle")
r = int(input("enter the value of the radius: "))

to find the radius of the circle
enter the value of the radius5

In [ ]:
area = pi * r**2

In [ ]:
print("the area of the circle with radius of " + str(r) + " is:" + str(area))

the area of the circle with radius of 5 is:78.53981633974483

#### 4.Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

In [ ]:
print("Hello")
first=input("enter the first name:")
last=input("enter the last name:")

Hello
enter the first name:sai
enter the last name:pavan

In [ ]:
print(last+ " " + first)

pavan sai

In [ ]:
first1=(first[::-1])

In [ ]:
last1=(last[::-1])

In [ ]:
print(last1 + " " + first1)

navap  ias

#### 5.Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.
Sample data : 3, 5, 7, 23

In [ ]:
a = (input("input the numbers to be comma separated: "))

input the numbers to be comma separated: 3 5 7 23

In [ ]:
b = a.split(" , ")

In [ ]:
tuple=tuple(b)

TypeError: 'tuple' object is not callable

In [ ]:
print("list : ", b)

list :  ['3 5 7 23']

In [ ]:
print("tuple : " , tuple)

tuple :  ('3 5 7 23',)

#### 6. Write a Python program that accepts a filename from the user and prints the extension of the file.
Sample filename : abc.python

In [ ]:
filename = input("enter the name of the file: ")
file_ext=filename.split(".")
print("the last name of the file is :- " + repr(file_ext[-1]))

enter the name of the file: abc.python
the last name of the file is :- 'python'

#### 7.Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [ ]:
colour_list = ["Red","Green","White","Black"]
print(colour_list[0],colour_list[-1])

Red Black

#### 8.Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [ ]:
exam_st_date=(11,12,2014)
print("the examination will start from :-",*exam_st_date,sep="/")

the examination will start from :-/11/12/2014

In [ ]:
print("the exam will start from :-  %i / %i / %i " % exam_st_date)

the exam will start from :-  11 / 12 / 2014

#### 9.Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
Sample value of n is 5
Expected Result : 615

In [ ]:
a = input("enter the value  of the input :-")
print(type(a))
b = int(a)+int(a+a)+int(a+a+a)
print(b)

enter the value  of the input :-5
<class 'str'>
615

#### 10.Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).

Sample function: abs()

In [ ]:
"""writing a python program to print the document of python built-in function(s)"""
print(abs.__doc__)

Return the absolute value of the argument.

#### 11.Write a Python program that prints the calendar for a given month and year.

Note: Use 'calendar' module.

In [ ]:
import calendar
y = int(input("enter the year ="))
m = int(input("enter the month ="))
print(calendar.month(y,m))
print("sai pavan birthday is on 25 of january")

enter the year =2024
enter the month =01
    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

sai pavan birthday is on 25 of january

#### 12.Write a Python program to print the following 'here document'.

Sample string:
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [ ]:
print("""
a string that "dont" have to escape
this
is a ........ multi-line
heredoc string ------->example
""")

a string that "dont" have to escape
this
is a ........ multi-line
heredoc string ------->example

#### 13.Write a Python program to calculate the number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [ ]:
from datetime import date
first = date(2014,7,2)
last = date(2014,7,11)
gap = last-first
print(gap.days)

9

#### 14.Write a Python program to get the volume of a sphere with radius given.

In [ ]:
from math import pi
r = int(input("enter the value of the radius ="))
volume=(4/3*pi*r**3)
print("the volume of the sphere is:",volume)

enter the value of the radius =10
the volume of the sphere is: 4188.790204786391
enter the value of the radius =5
the volume of the sphere is: 523.5987755982989

#### 15.Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

In [ ]:
def given_int(n):
  if n <= 17:
    return(n-17)
  else:
    return(n*17)

In [ ]:
print(given_int(22))

374

In [ ]:
print(given_int(10))

-7

In [ ]:
print(given_int(17))

0

#### 16.Write a Python program to test whether a number is within 100 of 1000 or 2000

In [ ]:
def funct(n):
  if n>=100 and n<=1000:
    print("the given number is between the numbers 100 and 1000")
  elif n>=1000 and n<=2000:
    print("the given number is between the numbers 1000 and 2000")
  else:
    print("the given number is not between the range 10 to 2000")

In [ ]:
print(funct(100))

the given number is between the numbers 100 and 1000
None

In [ ]:
print(funct(10))

the given number is not between the range 10 to 2000
None

In [ ]:
print(funct(2200))

the given number is not between the range 10 to 2000
None

#### 17.classes

In [ ]:
class mechanical:
 def __init__(self ,name,number,email_id):
  self.name=name
  self.number=number
  self.email_id=email_id

 def student_details(self):
  return self.name,self.number,self.email_id

In [ ]:
saipavan=mechanical("saipavan", 8456257956, "saipavanmr@gmail.com")

In [ ]:
saipavan.name

'saipavan'

In [ ]:
saipavan.number

8456257956

In [ ]:
saipavan.email_id

'saipavanmr@gmail.com'

#### 18.

In [ ]:
class mech:
  def saisev(self):
    print("sai pavan has sevanthi")

In [ ]:
class compsci:
  def saisev(self):
    print("sevanthi has saipavanmr")

In [ ]:
obj_mech=mech()

In [ ]:
obj_compsci=compsci()

In [ ]:
polytechnic=[obj_mech,obj_compsci]

In [ ]:
class gpti(polytechnic):
  for i in polytechnic:
    i.saisev()

sai pavan has sevanthi
sevanthi has saipavanmr

TypeError: list expected at most 1 argument, got 3

#### 19.

In [ ]:
class car:
  def __init__(self, company,model,year,owner_name,speed):
    self.company=company
    self.model=model
    self.year=year
    self.owner_name=owner_name
    self.__speed=0

  def cardetails(self):
    return self.company,self.model,self.year,self.owner_name

  def setspeed(self,speed):
    self.__speed= 0 if speed < 0 else speed

  def getspeed(self):
    return self.__speed

In [ ]:
firstcar=car("tatamotors","nexon_pure_s",2024,"Sai Pavan M R",500)

In [ ]:
firstcar.setspeed(250)

In [ ]:
firstcar.getspeed()

250

In [ ]:
firstcar.model

'nexon_pure_s'

In [ ]:
firstcar.owner_name

'Sai Pavan M R'

In [ ]:
secondcar=car("tatamotors","tata_punch",2024,"sai pavan m r",652)

In [ ]:
secondcar.model

'tata_punch'

In [ ]:
secondcar.setspeed(652)

In [ ]:
secondcar.getspeed()

652

In [ ]:
firstcar.model

'nexon_pure_s'

In [ ]:
thirdcar=car("tatamotors","harrier",2026,"sai pavan m r")

In [ ]:
thirdcar.model

'harrier'

#### 20

In [ ]:
class bankaccount:
  def __init__(self,balance):
    self.__balance=balance

  def deposit(self,amount):
    self.__balance=self.__balance+amount

  def withdraw(self,amount):
    if self.__balance >= amount:
      self.__balance = self.__balance-amount
      return True
    elif self.__balance < amount:
      return False

  def getbalance(self):
    return self.__balance

In [ ]:
obj_bankaccount=bankaccount(1000)

In [ ]:
obj_bankaccount.deposit(2000)

In [ ]:
obj_bankaccount.getbalance()

4000

In [ ]:
obj_bankaccount.withdraw(4000)

True

In [ ]:
obj_bankaccount.getbalance()

0

In [ ]:
obj_bankaccount.deposit(1000)

In [ ]:
obj_bankaccount.getbalance()

1000

In [ ]:
obj_bankaccount.withdraw(2000)

#### 21.mutilevel classes

In [ ]:
class class1:
  def classone(self):
    print("this is the first class")

In [ ]:
class class2(class1):
  def classtwo(self):
    print("this is my second class")

In [ ]:
class class3(class2):
  def classthree(self):
    print("this is my thirrd class")

In [ ]:
cls=class3

In [ ]:
cls.classone

#### 22.multiple inheretence

In [ ]:
class class4():
  def classfour(self):
    print("this is my classfour")

In [ ]:
class class5():
  def classfive(self):
    print("this is my classfive")

In [ ]:
class class6():
  def classsix(self):
    print("this is my classsix")

In [ ]:
class class7(class4,class5,class6):
  pass
  print("this is the collection of class")

this is the collection of class

In [ ]:
obj_class=class7()

In [ ]:
obj_class.classfour()

this is my classfour

#### 22.abstract method

In [ ]:
import abc

class pwskills:

  @abc.abstractmethod
  def student_details(self):
    pass

  @abc.abstractmethod
  def student_assignment(self):
    pass

  @abc.abstractmethod
  def student_marks(self):
    pass

In [ ]:
class data_science(pwskills):

  def student_details(self):
    return "i will try to return the student details of data science"

  def student_assignment(self):
    return "i will try to return the assignment regarding datascience"

In [ ]:
class web_dev(pwskills):

  def student_details(self):
    return "i will try to return the details regarding web development"

  def student_marks(self):
    return "i will try to return the details regarding student marks of web development"

In [ ]:
ds=data_science()

In [ ]:
ds.student_assignment()

'i will try to return the assignment regarding datascience'

In [ ]:
ds.student_marks()

In [ ]:
ds.student_details()

'i will try to return the student details of data science'

In [ ]:
wb=web_dev()

In [ ]:
wb.student_marks()

'i will try to return the details regarding student marks of web development'

In [ ]:
wb.student_details()

'i will try to return the details regarding web development'

In [ ]:
class cars():

  @abc.abstractmethod
  def mileage(self):
    pass

In [ ]:
class tatamotors(cars):

  def mileage(self):
    return "nexon has the mileage of 20kmpl"

In [ ]:
class suzuki(cars):

  def mileage(self):
    return "brezza has the mileage of 18kmpl"

In [ ]:
class Hyundai(cars):

  def mileage(self):
    return "creta has the mileage pf 15kmpl"

In [ ]:
tata=tatamotors()

In [ ]:
maruthi=suzuki()

In [ ]:
hyu=Hyundai()

In [ ]:
tata.mileage()

'nexon has the mileage of 20kmpl'

In [ ]:
maruthi.mileage()

'brezza has the mileage of 18kmpl'

In [ ]:
hyu.mileage()

'creta has the mileage pf 15kmpl'

#### 23.decorators

In [ ]:
def deco(func):
  def inner_deco():
    print("this is the start of the function")
    func()
    print("this is the end of the function")
  return inner_deco

In [ ]:
@deco
def test1():
  print(8*9)

In [ ]:
test1()

this is the start of the function
72
this is the end of the function

#### 24.time taken

In [ ]:
import time

def timer_test(func):
  def timer_test_inner():
    start=time.time()
    func()
    end=time.time()
    print(end-start)
  return timer_test_inner

In [ ]:
@timer_test
def test2():
  print(10000000*10)

In [ ]:
test2()

100000000
0.0008647441864013672

In [ ]:
@timer_test
def test3():
  print(10*20+45-756+856-85)

In [ ]:
test3()

260
6.318092346191406e-05

In [ ]:
class pwskills:

  mobile_number=6366027191

  def __init__(self,name,email):
    self.name=name
    self.email=email

  @classmethod
  def change_mobile(cls, mobile):
    pwskills.mobile_number = mobile

  @classmethod
  def details(cls,name,email):
    return cls(name,email)

  def studentdetails(self):
    print(self.name,self.email)

In [ ]:
pw=pwskills("saipavan","saipavanmr@gmail.com")

In [ ]:
pw.name

'saipavan'

In [ ]:
pw.email

'saipavanmr@gmail.com'

In [ ]:
pw1 = pwskills("pavan","pavan@gmail.com")

In [ ]:
pw.name

'saipavan'

In [ ]:
pw1.name

'pavan'

In [ ]:
pw2=pwskills.details("sevanthi","sevanthib@gmail.com")

In [ ]:
pw2.name

'sevanthi'

In [ ]:
pw2.email

'sevanthib@gmail.com'

In [ ]:
pw3=pwskills.mobile_number

In [ ]:
pw3

6366027191

In [ ]:
pwskills.change_mobile(9019672254)

In [ ]:
pwskills.mobile_number

9019672254

In [ ]:
pwskills.change_mobile(95867435)

In [ ]:
pwskills.mobile_number

95867435

In [ ]:
pwskills.change_mobile(9019672254)

In [ ]:
pwskills.mobile_number

9019672254

# Working with files

## 1.Write Mode

In [ ]:
f = open("test.txt", 'w')

##### pwd=present working directory, which shows where the file is stored at present

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/  test.txt

In [ ]:
f.write("this is my first operation with the file")

40

unless you close the file you will not be able to view the typings in the file

In [ ]:
f.close()

wa - write and append mode,it will try to add new information in the file

## 2.Read Mode

In [ ]:
data = open("test.txt","r")

In [ ]:
data.read()

'this is my first operation with the file'

after calling the read operation second time the cursor will be in the last of sentence so we will get blank

In [ ]:
data.read()

''

to restart the read mode we must use seek mode, in seek mode we will be able to reset the cursor location

In [ ]:
data.seek(0)

0

In [ ]:
data.read()

'this is my first operation with the file'

In [ ]:
data.seek(5)

5

In [ ]:
data.read()

'is my first operation with the file'

size- to get the size of the file use the module "os" which comes in the bites

In [ ]:
import os

In [ ]:
os.path.getsize("test.txt")

40

copy-to create the copy of the file you need the "shutil" module

In [ ]:
import shutil

In [ ]:
shutil.copy("test.txt","new_test.txt")

'new_test.txt'

delete-you need os module

In [ ]:
os.remove("test.txt")

to open the file in the different way

In [ ]:
with open("new_test.txt","r") as f:
  print(f.read())

this is my first operation with the file

to rename the file

In [ ]:
os.rename("new_test.txt","test_1")

# 3.read and write with different types of operation

#### json - java script object notation which tries to store the data in key and value pairs as given below.

In [ ]:
data={
    "name":"sai",
    "email":"saipavanmr@gmail.com",
    "phone":854662244,
    "subject":["datascience","webdevelopment"]
    }

In [ ]:
import json

#### dump=for writing the data in json
#### load=for reading the file in json

In [ ]:
with open ("test1.json","w") as f:
  json.dump(data,f)

 the given data in json will be saved in the key and value pairs

In [ ]:
with open("test1.json","r") as f:
  data1=json.load(f)

In [ ]:
data1

{'name': 'sai',
 'email': 'saipavanmr@gmail.com',
 'phone': 854662244,
 'subject': ['datascience', 'webdevelopment']}

to view the webdevelopment use the index number

In [ ]:
data["subject"][1]

'webdevelopment'

if there are some comma separated data where there are list under list and to store the entire data in "CSV-comma separated value file"

In [ ]:
data = [["name","email_id","mobile_number"],
        ["sai","saipavanmr@gmail.com",8555564586],
        ["sev","sev@gmail.com",5456355532]
       ]

import the csv and use writer for writing and reader for reading, so it is the list we have to iterate thrpugh it one by one and use "writerow" to store in a row

In [ ]:
import csv

In [ ]:
with open("test.csv","w") as f:
  w=csv.writer(f)
  for i in data:
    w.writerow(i)

 to perform the data read operation

In [ ]:
with open("test.csv","r") as f:
  read=csv.reader(f)
  for i in read:
    print(i)

['name', 'email_id', 'mobile_number']
['sai', 'saipavanmr@gmail.com', '8555564586']
['sev', 'sev@gmail.com', '5456355532']

#### 1.binary read operations
wb-write binary
rb-read binary

In [ ]:
with open("test4.bin","wb") as f:
  f.write(b"x01\x02\x03")

In [ ]:
with open("test4.bin","rb") as f:
  print(f.read())

b'x01\x02\x03'

# 4.Buffered read and write

whenever the given file is in big file size so we can read and write them in chunks it is called as the buffered read and write , import io

In [ ]:
import io

we have use the flush option in order to close the function and to view it

In [ ]:
with open("test.txt1","wb") as f:
  file = io.BufferedWriter(f)
  file.write(b"this is my buffered writer\n")
  file.write(b"this is the second line of the buffered writer")
  file.flush()

In [ ]:
with open("test.txt1","rb") as f:
  file = io.BufferedReader(f)
  data = file.read(10)
  print(data)

b'this is my'

above we can see how we can use the buffred read and write operation

# logging and debugging

if there is andy type of errors or information inorder to fix it we use logging,
in production grade sysytem we dont use the print() statement it will always try to print something after shutthing down the sysytem it will be cleared.

In [ ]:
import logging

In [ ]:
logging.basicConfig(dilename ="test.log",level = logging.INFO)

In [ ]:
logging.info("this is my logfile")