# TUPLES

#### 1. Write a python program to create a tuples

In [ ]:
t1 = ()

In [ ]:
type(t1)

tuple

In [ ]:
t2 = (5,65,85,"sai",8+7j)

In [ ]:
type(t2)

tuple

#### 2. Write a python program to create a tuple of numbers and print one item

In [ ]:
tuples = (85,456,852,"sai",45+8j)

In [ ]:
type(tuples)

tuple

In [ ]:
tuples[0]

85

In [ ]:
print(tuples)

(85, 456, 852, 'sai', (45+8j))

#### 3.write a python program to unpack tuple into several variables

In [ ]:
tuplex = 85,47,79,5236

In [ ]:
tuple(tuplex)

(85, 47, 79, 5236)

In [ ]:
n1,n2,n3,n4 = tuplex

In [ ]:
print(n1+n2+n3+n4)

5447

#### 4. write a python program to add a item to a tuple

In [ ]:
s1 = (852,456,951,753)

In [ ]:
set(s1)

{456, 753, 852, 951}

In [ ]:
si=set(s1)

In [ ]:
type(si)

set

In [ ]:
si.add(865)

In [ ]:
si

{456, 753, 852, 865, 951}

In [ ]:
s8 = tuple(si)

In [ ]:
si

{456, 753, 852, 865, 951}

In [ ]:
type(s8)

tuple

#### 5.Write a python program to get 4th element from the last of a tuple

In [ ]:
tupp = (1,5,96,853,45632,8562)

In [ ]:
type(tupp)

tuple

In [ ]:
t2 = tupp[-4]

In [ ]:
print(t2)

96

#### 6.write a python program to repeated items in tuple

In [ ]:
items = (5,5,8,9,4,6,753,456,85,951235,5,5,4,4,4,77,)

In [ ]:
type(items)

tuple

tuple

In [ ]:
items.count(5)

4

In [ ]:
items.count(4)

4

#### 7.write a python program to check whether a element exists in the tuple

In [ ]:
tup = (8,56,75,"sai","pavan","sevanthi",896,4562,)

In [ ]:
"sai" in tup

True

In [ ]:
if "sevanthi" in tup:
  print("sevanthi is in my heart")
else:
  print("no tuple")

sevanthi is in my heart

#### 8.write a python program to slice a tuple

In [ ]:
trr = (853,856,1,2,5,6,8,462)

In [ ]:
trr[::-1]

(462, 8, 6, 5, 2, 1, 856, 853)

In [ ]:
trr[1:5]

(856, 1, 2, 5)

#### 9.write a python program to find an index number in elements

In [ ]:
suk = (89,78,42,2,4,8,2,5,65,8,)

In [ ]:
len(suk)

10

In [ ]:
suk.index(5)

7

#### 10.write a program to convert tuple into dictionary

In [ ]:
tuplerrr = ((825,"sai"),(5896,"pavan"))

In [ ]:
tuplexxxx = dict(tuplerrr)

In [ ]:
type(tuplexxxx)

dict

In [ ]:
tuplexxxx

{825: 'sai', 5896: 'pavan'}

#### 11.to unzip a list of tuples

In [ ]:
unzip = ((48,86),(978,96),(75,95))

In [ ]:
result =list(zip(*unzip))

In [ ]:
print(result)

[(48, 978, 75), (86, 96, 95)]

#### 12.write a pythgon program to reverse a tuples

In [1]:
hemzz = 12,86,95,75,"saai","suvi"

In [3]:
tuple(hemzz)

(12, 86, 95, 75, 'saai', 'suvi')

In [7]:
hemzz[::-1]

('suvi', 'saai', 75, 95, 86, 12)

In [9]:
hemzz[::-2]

('suvi', 75, 86)

#### 13. write a python program to print a tuple with string formatting sample tuple = (852,951,753,654,761,943)

In [10]:
sample = 852,951,753,654,761,943

In [14]:
tuple(sample)
print("this is a sample tuple {}".format(sample))

this is a sample tuple (852, 951, 753, 654, 761, 943)

#### 14.write python program to replace last value of tuples in a list
#### sample = [(10,20,40),(40,50,60),(70,80,90)] replace=100

In [15]:
sam = [(10,20,40),(40,50,60),(70,80,90)]

In [17]:
type(sam)

list

In [31]:
len(sam)

3

In [35]:
print([t[:-1]+(100,) for t in sam])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [36]:
tuple(sam)

((10, 20, 40), (40, 50, 60), (70, 80, 90))

#### 15.write python program to remove an empty tuple from a list of tuples [(),(),(sai),(sev),1,52,]

In [73]:
l = (),(),("sai"),("sev"),1,52

In [74]:
type(l)

tuple

In [75]:
l1=list(l)

In [76]:
type(l1)

list

In [77]:
l1

[(), (), 'sai', 'sev', 1, 52]

In [79]:
l1.pop(0)

()

In [81]:
l1

['sai', 'sev', 1, 52]

#### 16.write a python program to sort a tuple by its float element.

In [83]:
f = [('item1','12.20'),('item2','15.10'),('item3','24.5')]

In [96]:
f1 = sorted(f,key=lambda m: float(m[1]),reverse=True )

In [98]:
f1

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

#### 17.write a program to count index in list until element is tuple

In [99]:
c = [25,45,987,856,(856,895),(896),8965]

In [104]:
for i in c:
  if type(i)==tuple:
    print(c.index(i))

4