#### 1.creating class

In [ ]:
class pythonskills:
  x=5
p1=pythonskills()
print(p1.x)

5

#### 2.class

In [ ]:
class pythonskills2:

  def  __init__(self,phone_number,email_id,student_id):

   self.phone_number = phone_number
   self.email_id = email_id
   self.student_id = student_id

  def return_student_details(self):
    return self.phone_number, self.email_id, self.student_id

In [ ]:
sai = pythonskills2(65899556644,"sai@gmail.com",8564)

In [ ]:
sai.phone_number

65899556644

In [ ]:
sai.email_id

'sai@gmail.com'

In [ ]:
sai.student_id

8564

#### 3.class and objects

In [ ]:
class datascience:
  def syllabus(sai):
    print("this is my syllabus for data science")

class deeplearning:
  def syllabus(sai):
    print("this is my syllabus for deeplearning")

def classes(classobj):
  for i in classobj:
    i.syllabus()

obj_datascience=datascience()
obj_deeplearning=deeplearning()
classobj=(obj_datascience,obj_deeplearning)
classes(classobj)

this is my syllabus for data science
this is my syllabus for deeplearning

#### 4.polymorphism

In [ ]:
class car():
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  def move(self):
    print("drive")

class boat():
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  def move(self):
    print("sail")

class plane():
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  def move(self):
    print("fly")

car1=car("tata","nexon")
boat1=boat("onepiece","goingmarry")
plane1=plane("hindenburg","5236")

for i in (car1,boat1,plane1):
  print(i.brand)
  print(i.model)
  i.move()

tata
nexon
drive
onepiece
goingmarry
sail
hindenburg
5236
fly

#### 5.inheretence polymorphism

In [ ]:
class vehicle:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

class car(vehicle):
  def move(self):
      print("move!")

class boat(vehicle):
   def move(self):
      print("sail!")

class plane(vehicle):
  def move(self):
      print("fly!")

car2=car("tata","nexon")
boat2=boat("onepiece","thousandssunny")
plane2=plane("indigo","hindenburg")

for i in (car2,boat2,plane2):
  print(i.brand)
  print(i.model)
  i.move()

tata
nexon
move!
onepiece
thousandssunny
sail!
indigo
hindenburg
fly!

# Encapsulation

In [ ]:
class car:
  def __init__(self,year,make,model,speed):
    self.__year=year
    self.__make=make
    self.__model=model
    self.__speed=0
  def set__speed(self,speed):
    self. __speed = 0 if speed<0 else speed

  def get__speed(self):
    return self.__speed

In [ ]:
obj_car = car(2021,"toyota","innova",12)

In [25]:
obj_car.set__speed(524)

#### 2.class bank account

In [50]:
class bankaccount:
  def __init__(self,balance):
    self.__balance=balance

  def deposit(self,amount):
   self.__balance=self.__balance+amount

  def withdraw(self,amount):
    if self.__balance>=amount:
     self.__balance=self.__balance-amount
     return True
    else:
      return False

  def get__balance(self):
    return self.__balance

In [51]:
obj_bankaccount=bankaccount(5000)

In [52]:
obj_bankaccount.get__balance()

5000

In [53]:
obj_bankaccount.withdraw(10000)

False

In [54]:
obj_bankaccount.deposit(100000)

In [55]:
obj_bankaccount.withdraw(2000)

True

In [58]:
obj_bankaccount.get__balance()

103000

#### multi level inheritence

In [63]:
class class1:
  def test__class1(self):
    print("this is my class")

class class2(class1):
  def test__class2(self):
    print("this my class2")

class class3(class2):
  def test__class3(self):
    print("this is my class3")

In [64]:
obj_class1=class1()

In [67]:
obj_class1.test__class1()

this is my class

In [68]:
obj_class3 = class3()

In [69]:
obj_class3.test__class2()

this my class2

In [70]:
obj_class3.test__class1()

this is my class

#### multiple inheritence

In [72]:
class section1:
  def test__section1(self):
    print("this is my section")

class section2:
  def test__section2(self):
    print("this is my section2")

class section3(section1,section2):
  pass

In [73]:
obj__class4=section3()

In [75]:
obj__class4.test__section2()

this is my section2

In [76]:
obj__class4.test__section1()

this is my section