# functions

In [ ]:
def test():
  print("this is my new learning")

In [ ]:
test()

this is my new learning

In [ ]:
def test1():
  return "this is my function with return"

In [ ]:
test1()

'this is my function with return'

In [ ]:
def test2():
  return(1,2,3,4,5,6,7,8,9)

In [ ]:
test2()

(1, 2, 3, 4, 5, 6, 7, 8, 9)

#### 1.multiple returns using different types of values

In [ ]:
def test3():
  return(1,2,3,[1,2,"sai",56],("sai pavan"),{8,5,6,2,"reu"})

In [ ]:
test3()

(1, 2, 3, [1, 2, 'sai', 56], 'sai pavan', {2, 5, 6, 8, 'reu'})

#### 2.calculations using return function

In [ ]:
def test4(b,c):
  a = b*c
  return a

In [ ]:
test4(5,9)

45

#### 3.assigning operations using duff functions

In [ ]:
a,b,c,d=1,2,3,4

In [ ]:
a

1

In [ ]:
def test5(a,b):
  c = a+b
  return c

In [ ]:
test5("sai","pavan")

'saipavan'

#### 4.to filter out only numerical values inside an list.

In [ ]:
s = ["sai","pavan",1,2,3,4,5,6,[1,2,3,4,5,6,7],(1,"sai",8,5,6,3,4)]

In [ ]:
def test6(a):
  n=[]
  for i in a:
    if type(i)==int or type(i)==float:
      n.append(i)
  return n

In [ ]:
test6(s)

[1, 2, 3, 4, 5, 6]

In [ ]:
b = ["sai",2563,5,2,4,5,6,2,[1,2,5,8,6,3,4,455622,856,2]]

In [ ]:
def test6(b):
  n=[]
  for i in b:
    if type(i)==list:
      for j in i:
        if type(j)==int or type(j)==float:
          n.append(j)
    else:
      if type(i)==int or type(i)==float:
        n.append(i)

  return n

In [ ]:
test6(b)

[2563, 5, 2, 4, 5, 6, 2, 1, 2, 5, 8, 6, 3, 4, 455622, 856, 2]

#### 5.multiple arguments

In [ ]:
def test(*sai):
  return sai

In [ ]:
test(1,2,3,4,5,"sai","pavan",[1,2,3,4,5,6],(8,5,2,6,2,2),{7,8,9,5,2})

(1,
 2,
 3,
 4,
 5,
 'sai',
 'pavan',
 [1, 2, 3, 4, 5, 6],
 (8, 5, 2, 6, 2, 2),
 {2, 5, 7, 8, 9})

In [ ]:
def test9(*suvi,a):
  return suvi,a

In [ ]:
test9(8,5,6,2,4,5, a = "sai")

((8, 5, 6, 2, 4, 5), 'sai')

In [3]:
def test10(*pav):
  l = []
  for i in pav:
    if type(i)==list:
      l.append(i)

  return l

In [4]:
test10([12,5,4,7,5,2],752555,"saipavan",78541)

[[12, 5, 4, 7, 5, 2]]

#### 6. keys and values

In [5]:
def test11(**kvalu):
  return kvalu

In [6]:
test11(a=85,b=89,c=785,d="sai pavan",e=[856,745])

{'a': 85, 'b': 89, 'c': 785, 'd': 'sai pavan', 'e': [856, 745]}

In [7]:
type(test11)

function

In [8]:
def test12(**san):
  for i in san.keys():
    if type(san[i])==list:
      return i,san[i]

In [9]:
test12(a=856,b=["sai",856],c=(745,865,42),d={8,5,})

('b', ['sai', 856])

In [12]:
def test12(**san):
  for i in san.keys():
    if type(san[i])==set:
      return i,san[i]

In [13]:
test12(a={745,562,842,"sai"},b=[7854,452,])

('a', {562, 745, 842, 'sai'})

#### 7.print max of three

In [33]:
def num(x,y,z):
  return max(x,y,z)

In [34]:
num(8,10,100)

100

#### 8.to sum all the numbers

In [41]:
def sum(numbers):
  total = 0
  for x in numbers:
    total += x
  return total
print(sum((8,2,3,0,7)))

20

#### 9. to multiply all the numbers

In [45]:
def mult(numbers):
  total = 1
  for x in numbers:
    total *= x
  return total
print(mult((8,2,3,-1,7)))

-336

#### 10.write a python program to reverse a string

In [53]:
def rev(num):
  s=num[::-1]
  return s
print(rev("123548"))

845321

#### 11.to find a factorial of a number

In [64]:
def fact(n):
  if n==0:
   return 1
  else:
    return n * fact(n-1)
n = int(input("enter a factorial"))
print(fact(n))

enter a factorial5
120

#### 12. check whether the number falls in the given range

In [4]:
def number(n):
  if n in range(3,10):
    print("the given number is in the range")
  else:
    print("not in range")

In [5]:
number(5)

the given number is in the range

In [6]:
number(1)

not in range

#### 13.new list with distinct elements

In [42]:
def old(l):
  m = []
  for a in l:
    if a not in m:
      m.append(a)
  return m

In [43]:
old([1,1,2,2,3,3,5,5,6,8,9,5,4,])

[1, 2, 3, 5, 6, 8, 9, 4]

#### 14.check if the given number is perfect or not

In [64]:
def perfect(n):
  sum = 0
  for x in range(1,n):
    if n%x==0:
      sum+=x

  return sum ==n

In [65]:
perfect(5)

False

In [66]:
perfect(6)

True