#### 1.write a python program to check whether the given no is prime or not

In [ ]:
def prime_no(n):
  if n==1:
    return False
  elif n==2:
    return True
  else:
    for x in range(2,n):
      if (n%x==0):
        return False
    return True

print(prime_no(4))

False

In [ ]:
print(prime_no(5))

True

#### 2.print a python program to check the given program is even no or not.

In [ ]:
def even_(n):
  if n%2==0:
    print("the no is even")
    return True
  else:
    print("the no is odd")
    return False

In [ ]:
print(even_(5))

the no is odd
False

In [ ]:
print(even_(6))

the no is even
True

#### 3.check squares

In [ ]:
def squares_():
  l = list()
  for i in range(1,30):
    l.append(i**2)
  print(l)

In [ ]:
print(squares_())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]
None

# FIBONACCI

In [ ]:
def test1(n):
  a,b = 0,1
  for i in range(0,n):
    yield a
    a,b=b,a+b

In [ ]:
test1(10)

In [ ]:
for i in test1(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

#### 2.program on cubes from 1 to n

In [ ]:
def test2(n):
  for i in range(1,n+1):
    yield i**3

In [ ]:
test2(10)

In [ ]:
for i in test2(10):
  print(i)

1
8
27
64
125
216
343
512
729
1000

#### 3.print random numbers within a given range

In [ ]:
import random

def test3(n):
  for i in range(start,end):
    yield random.randint(start,end)

In [ ]:
start = (int(input("enter start")))
end = (int(input("enter end")))

enter start1
enter end30

In [ ]:
test3(10)

In [ ]:
for i in test3(10):
  print(i)

15
10
26
8
25
17
4
20
22
30
5
6
19
16
13
28
10
8
27
7
23
9
16
19
17
28
1
18
17

#### 4.permutations

In [ ]:
def test4(n):
  if len(n)<=1:
    yield n
  else:
    for p in test4(n[1:]):
      for i in range(len(n)):
        yield p[:i]+n[0:1]+p[i:]

In [ ]:
n = [1,2,3,4]
print("for permutation",n)

for permutation [1, 2, 3, 4]

In [ ]:
test4(n)

In [ ]:
for i in test4(n):
  print(i)

[1, 2, 3, 4]
[2, 1, 3, 4]
[2, 3, 1, 4]
[2, 3, 4, 1]
[1, 3, 2, 4]
[3, 1, 2, 4]
[3, 2, 1, 4]
[3, 2, 4, 1]
[1, 3, 4, 2]
[3, 1, 4, 2]
[3, 4, 1, 2]
[3, 4, 2, 1]
[1, 2, 4, 3]
[2, 1, 4, 3]
[2, 4, 1, 3]
[2, 4, 3, 1]
[1, 4, 2, 3]
[4, 1, 2, 3]
[4, 2, 1, 3]
[4, 2, 3, 1]
[1, 4, 3, 2]
[4, 1, 3, 2]
[4, 3, 1, 2]
[4, 3, 2, 1]

# lambda

#### 1

In [ ]:
a =lambda n,p : n*p

In [ ]:
a(9,10)

90

#### 2.subtract

In [ ]:
sub =lambda a,b : a-b

In [ ]:
sub(1000,2000)

-1000

#### 3.celcius to farhenheit
#### formulae = (9/5)*c+32

In [ ]:
cel = lambda c : (9/5)*c+32

In [ ]:
cel(32)

89.6

#### 4.to find maximum

In [ ]:
max_= lambda x,y :x if x>y else y

In [ ]:
max_(75,89)

89

#### 5.to find the length of string

In [ ]:
s = "sai pavan mr"

In [ ]:
strn = lambda s : len(s)

In [ ]:
strn(s)

12

#### 6. write a program using the lambda functions to add the no 15 with guven value and multiply x and y

In [ ]:
#1
add1= lambda a : a+15

In [ ]:
add1(45)

60

In [ ]:
#2
mult = lambda x,y : x*y

In [ ]:
mult(20,25)

500

#### 7. filter using lambda the odd and even numbers

In [ ]:
nums = (1,2,3,4,5,6,7,8,9,10)

In [ ]:
nums = list(filter(lambda x : x%2==0,nums))

In [ ]:
print(nums)

[2, 4, 6, 8, 10]

In [ ]:
nums=(1,2,3,4,5,6,7,8,9,10)

In [ ]:
nums = list(filter(lambda x: x%2!=0,nums))

In [ ]:
print(nums)

[1, 3, 5, 7, 9]

#### 8. square and cube the given numbers

In [ ]:
nums =(1,2,3,4,5,6,7,8,9,10)

In [ ]:
squar = list(map(lambda x : x**2,nums))

In [ ]:
print(squar)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squar1 = list(map(lambda x:x**3,nums))

In [ ]:
print(squar1)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### 9. show the time using lambda

In [ ]:
import datetime

In [ ]:
now = datetime.datetime.now()

In [ ]:
year = lambda x: x.year

In [ ]:
month = lambda x: x.month

In [ ]:
date = lambda x:x.month

In [ ]:
t= lambda x:x.time

In [ ]:
print(year(now))
print(month(now))
print(date(now))

2023
12
12